/*----------------------------------------------------
MAIN BODY AND TEXT
----------------------------------------------------*/

/* Fonts to Load*/
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Noto Sans:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Alegreya Sans:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Fira Sans:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import url('https://fonts.googleapis.com/css?family=GFS Didot:400,500,700');

/* Font to Use */
@import url('https://fonts.googleapis.com/css?family=Literata:400,500,600');

/* Main Body Settings*/
html, body{
	height: 100%;
	width: 100%;

	font-family: 'Literata', sans-serif;
	font-size: 1rem;

	background-color: #eee;
}

/* Paragraph Element Styling*/
p{
	line-height: 1.5rem;
	text-indent: 2rem;
}



/*---------------------------------------------------
NAVIGATION BAR
---------------------------------------------------*/

#NavigationBar .navbar{
	padding: 0.4rem;
	font-weight: bold;
	letter-spacing: 0.1rem;
	background: rgb(0,30,60) !important;
}

/* Toggle Button */
#NavigationBar .navbar-toggle {
	/* (80px - button height 34px) / 2 = 23px */
	margin-top: 0px;
	padding: 9px 10px !important;
}

#NavigationBar .navbar-brand{
	font-size: 1.5rem;
	font-style: oblique;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 2rem;
	margin: 0;
	height: inherit;
	text-align: center;
	color: white;
}

#NavigationBar .nav-item{
	margin-right: 0.4rem;
	margin-left: 0.4rem;
}

/* Navigation Buttons */
#NavigationBar .btn{
	padding: 0.7rem;
	padding-right: 1rem;
	padding-left: 1rem;
	height: 100%;
	width: 100%;
	text-align: left;
	background-color: rgb(0,30,60);
	color: white;
	letter-spacing: normal;
	border-width: 0;
	border-radius: 1.5rem;
	transition: all 0.5s ease;
}

#NavigationBar .btn:hover{
	background-color: white;
	color:  rgb(0,30,60);
}

/* Dropdowns*/
#NavigationBar .dropdown{
	transition: all 0.3s ease 0s;
}

#NavigationBar .dropdown-menu{
	min-width: 100%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color:  cadetblue;
	border-color: rgb(0,30,60);
	border-radius: 0;
	border-radius: 0.5rem;
	transition: all 0.5s ease;
}

#NavigationBar .dropdown-item{
	background-color: cadetblue;
	color: rgb(0,30,60);
	margin: 0;
	border-color: transparent;
	letter-spacing: normal;
}

#NavigationBar .dropdown-item:hover{
	background: rgb(0,30,60);
	color: white;
}

#NavigationBar .dropdown-divider{
	border-width: 1px;
	border-color: rgb(0,30,60);
}




/* ---------------------------------------------------
BUTTONS & LINKS
----------------------------------------------------- */

a:hover{
	text-decoration: none;
}

.btn{
	border-radius: 1rem;
	background: white;
}

.btn:hover{
	background: darkblue;
	color: white;
}

.btn-primary{
	margin: 0px;
	font-weight: bold;
	font-size: 1rem;
	background-color: transparent;
	border-radius: 1rem;
	border-width: thin;
	border-color: transparent;
	color: black;
	line-height: 3rem;
}

.btn-secondary{
	height: 40px;
	border-width: thin;
	border-radius: 0.3rem;
	padding: 15px;
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: transparent;
	border-color: transparent;
	font-size: 1rem;
}

.scrollToTop{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	line-height: 50px;
	width: 50px;
	height: 50px;
	background-color: cadetblue;
	color: #fff;
	text-align: center;
	display: none;
	z-index: 1000;
}

.scrollToTop:hover{
	background-color: blue;
}



/* ---------------------------------------------------
FLIP CARD
----------------------------------------------------- */
.maincontainer{
	position: relative;
	height: 350px;
	width: 250px;
	padding: 0rem !important;
	margin: auto;
	margin-bottom: 2rem;
}

.thecard{
	position: absolute;
	height: 100% ;
	width: 100% ;
	transform-style: preserve-3d;
	transition: all 0s ease;
	padding: 0rem !important;
	margin: 0rem !important;
}

.thecard:hover{
	transform: rotateY(180deg);
}

.thefront{
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	margin: 0;
}

.theback{
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	transform: rotateY(180deg);	
	margin: 0;
}



/* ---------------------------------------------------
CARDS
----------------------------------------------------- */

.card-physics, .card-math, .card-programming{
	margin: auto;
	margin-bottom: 2rem;
	padding: 0rem;
	height: 350px;
	width: 250px;
	border-radius: 0.8rem;
	border-color: black;
	border-width: 1px;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);

	background-position: center; 
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; /* Resize the background image to cover the entire container */
}

.card-physics .inner, .card-math .inner, .card-programming .inner{
	border-radius: 0.8rem;
	width: auto;
	height: inherit;
	overflow: hidden;
	position: relative;	
	text-align: center;
}

.card-physics .inner h3, .card-math .inner h3, .card-programming .inner h3{
	height: 50px;
	width: inherit;
	padding: 0.5rem;
	padding-top: 1rem;
	color: white;
	font-size: 1rem;
	font-weight:800;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	/*justify-content: center;
	display: flex;
	flex-direction: column;*/
}

.card-physics .inner .card-header, .card-math .inner .card-header, .card-programming .inner .card-header{
	font-size: 1rem;
	font-weight: bold;
	border-top-left-radius: 0.4rem;
	border-top-right-radius: 0.4rem;
	border-width: 0.3px;
	border-bottom-color: gray;
	color:white;
}

.card-physics .inner p, .card-math .inner p, .card-programming .inner p{
	position: absolute;
	padding: 0.7rem;
	bottom: 0;
	line-height: 1.3rem;
	font-size: 0.8rem;
	font-weight: normal;
	color: white;
	text-align: left;
}

.card-physics .inner img, .card-math .inner img, .card-programming .inner img{
	width: 50%;
	height: auto;
	transition: all 1.5s ease;
	margin: 2rem;
}

/*
.card-physics:hover, .card-math:hover, .card-programming:hover{
background-image: none;
background-color: rgb(0,0,0,0.8);
color: transparent;
}

.card-physics:hover p, .card-math:hover p, .card-programming:hover p{
color: darkgray;
}

.card-physics:hover img, .card-math:hover img, .card-programming:hover img{
transform:  scale(1.2);
}

.card-physics:hover h3, .card-math:hover h3, .card-programming:hover h3{
color: darkgray;
text-decoration: none;
text-decoration-line: none;
}
*/

/* Physics Cards */
.card-physics{
	background-color: darkslategray;
	/*background-image: url("images/proton%20(1).jpg");*/
}

.card-physics .inner{
	background-color: rgb(100,0,0,0);
}


/* Math Cards */
.card-math{
	background-color: brown;
	/*background-image: url("images/mathematics.jpg");*/
}

.card-math .inner{
	background-color: rgb(0,100,100,0);
}

/* Programming Cards */
.card-programming{
	background-color: rgb(0,0,100);
	background-image: url("images/programming.jpg");
}

.card-programming .inner{
	background-color: rgb(0,0,100,0);
}

.backface-card{
	height: 350px;
	width: 250px;
	border-radius: 0.8rem;
	color: black;
	border-color: #003366;
	padding-bottom: 1rem;
	font-size: 0.8rem;
	background-color: darkgray;
	margin: auto;
	text-align: left;
}

.backface-card .card-header{
	font-size: 1rem;
	font-weight: bold;
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
	background-color: darkgray;
}

.backface-card ul{
	padding: 0.9rem;
	margin: 0;
}


/* ---------------------------------------------------
SOCIAL ICONS STYLE
----------------------------------------------------- */

.social a {
	font-size: 2em; 
	padding: 1rem;
}

.fa-facebook{
	color: #3b5998
}
.fa-twitter{
	color: #00aced
}
.fa-google-plus-g{
	color: #dd4b39
}
.fa-instagram{
	color: #517fa4;
	color: palevioletred;
}
.fa-youtube{
	color: #bb0000
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
	color: #d5d5d5;
}




/* ---------------------------------------------------
FOOTER STYLE
----------------------------------------------------- */
footer{
	background-color: rgb(0,30,60);
	color: wheat;
	margin-top: 7rem;
	font-size: 0.8rem;
}

footer .container-fluid{
	margin: 0;
	padding: 0;
	background-color: red;
}

footer .row{
	margin:0 auto;
	padding: 0 auto;
}

footer #copyright{
	padding: 0.2rem;
	padding-bottom: 0.5rem;
}

footer a{
	color: #d5d5d5;
	padding: 1rem;
}

footer h5{
	font-size: 1rem;
	font-weight: bold;
}

footer p{
	text-indent: 0;
	margin-top: 1rem;
	margin-bottom: 0rem;
}



/* ---------------------------------------------------
OTHER FIXES
----------------------------------------------------- */

.heading-underline{
	width: 100%;
	height: 1px;
	background-color:  #0066cc;
	margin: 0 auto;
	margin-bottom: 2rem;
}

/* Firefox Bug Fix */
.carousel-item{
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

/* Fixed Background Image */
figure{
	position: relative;
	width: 100%;
	height: 60%;
	margin: 0!important;
}

.fixed-wrap{
	clip: rect(0, auto, auto, 0);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#fixed{
	background-image: url('img/mac.png');
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	will-change: transform;
}

/* Bootstrap Padding Fix */
[class*="col-"]{
	padding: 1rem;
}

/* Media queries */
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

