/* ---------------------------------------------------
SIDEBAR, BUTTONS & LINKS
----------------------------------------------------- */

#sidebar {
	padding: 0px;
	width: 350px;
	position: fixed;
	top: 0;
	left: -350px;
	height: 100vh;
	z-index: 999;
	background: rgba(0,10,20,255);
	color: #fff;
	transition: all 0.3s;
	overflow-y: scroll;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
	left: 0;
}

#dismiss {
	width: 2rem;
	height: 2rem;
	line-height: 2.3rem;
	text-align: center;
	background: #002244;
	position: absolute;
	top: 1rem;
	right: 0.6rem;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#dismiss:hover {
	background: #fff;
	color: #002244;
}

.overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 998;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.overlay.active{
	display: block;
	opacity: 1;
}

#sidebar .sidebar-header {
	padding: 1rem;
	padding-right: 3.2rem;
	background: rgba(0,20,40,255);
	text-align: left;
	justify-content: center;
}

/*section under header*/
#sidebar ul.components {
	padding: 0px;
	border-top: 1px solid rgba(0,60,120,255);
	/*	border-bottom: 1px solid rgba(0,60,120,255);*/
	margin: 0;
	border-bottom: 1px solid rgba(0,60,120,255);
}


#sidebar ul p {
	color: #fff;
	padding: 10px;
}

/*list entries*/
#sidebar ul li a {
	font-size: 0.8em;
	display: block;
	padding: 6px;
	padding-right: 3rem;
	/*	margin-top: 5px;*/
}
#navigation ul li a {
	font-size: 0.8em;
	display: block;
	padding: 6px;
	padding-right: 3rem;
	/*	margin-top: 5px;*/
}


#sidebar ul li a:hover {
	color: #003366;
	background: #fff;
}
#navigation ul li a:hover {
	color: #003366;
	background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #003366;
}
#navigation ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #003366;
}


/*dropdown menu items*/
ul ul a {
	padding: 10px;
	margin: 0px;
	font-size: 0.6em !important;
	padding-left: 20px !important;
	padding-right: 20px !important;
	background: #001122;
}


a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}


ul.CTAs {
	padding: 30px;
	background: rgb(0,10,20);
}

ul.CTAs a {
	text-align: center;
	font-size: 0.9em !important;
	display: block;
	border-radius: 5px;
	margin: auto;
	padding: 0.3rem !important;
	margin-top: 5px;
	background: rgb(0,20,40);
}

a,
a:hover,
a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

.gotopbtn{
	width: 5vw;
	height: 5vw;
	
	position: fixed;
	right: 0px;
	bottom: 0px;
	
	background: dodgerblue;
	text-align: center;
	text-decoration: none;
	line-height: 5vw;
	color: white;
	border-top-left-radius: 1rem;
}



/*---------------------------------------------------
CONTENT
---------------------------------------------------*/
.container {
   width: 95%;
   margin: 30px auto 0;
}

.container h1{
	text-align: center;
	font-size: 2.1rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.container h2{
	font-size: 1.5rem;
	font-weight: bold;
	margin-top: 3rem;
	margin-bottom: 1rem;
}


#content {
	width: 100%;
	padding: 0;
	
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
	margin: auto 0;
}



/* ---------------------------------------------------
CARDS
----------------------------------------------------- */

/* Main Card */
.card{
	margin: auto 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto 0;
	margin-right: auto 0;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}


/* Examples Card */
#example-card .card{
	background-color: #dac3a4;
	border-color: #522727;
	font-size: 0.9rem;

}

#example-card .card-header{
	background-color: #522727;
	color: white;
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
}

/* Learning Goals Card */
#learning-goals-card{
	margin-left: 7vw;
	margin-right: 7vw;
	border-color: transparent;
	font-size: 0.9rem;

}
#learning-goals-card .card{
	background-color: lightgreen;
	border-color: seagreen;
}

#learning-goals-card .card-header{
	background-color: seagreen;
	color: white;
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
}




/* ---------------------------------------------------
BREADCRUMB
----------------------------------------------------- */

/* Style the list */
ul.breadcrumb {
	padding: 15px;
	list-style: none;
	background-color: #ccc;
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
}

/* Display list items side by side */
ul.breadcrumb li {
	display: inline;
	font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
	padding: 5px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}



/* ---------------------------------------------------
IMAGE, MEDIA & ANIMATIONS
----------------------------------------------------- */
/* Figures */
.figure{
	padding: 0rem;
	width: auto;
	height: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.figure-img{
	width: auto;
	margin: 0 auto;
	padding: 1rem;
	padding-bottom: 0rem;
	background-color: lightgrey;
	
}

.figure-caption{
	background-color: lightgrey;
	padding: 1rem;
	color: #222;
	margin: auto 0;
	text-align: left;
	font-weight: bold;
}

/* Images Wrapped Around Text */
.image-wrapper figure{
	padding: 0;
	width: 35vw;
	height: auto;
	margin: auto 0;
}

#embedded-media{
	margin: auto 2rem;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

#jscode{
	padding: 0;
	background-color: black;
	margin: 0rem;
	height: 50vh;
	
	border-color: aqua;
}

#animation{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

