/* ---------------------------------------------------
BUTTONS & LINKS
----------------------------------------------------- */

.scrollToTop{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	line-height: 50px;
	width: 50px;
	height: 50px;
	background-color: cadetblue;
	color: #fff;
	text-align: center;
	display: none;
	z-index: 1000;
}

.scrollToTop:hover{
	background-color: blue;
}



/*---------------------------------------------------
CONTENT
---------------------------------------------------*/
.container {
   width: 95%;
   margin: 30px auto 0;
}

.container h1{
	text-align: center;
	font-size: 1.9rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.container h2{
	font-size: 1.3rem;
	font-weight: bold;
	margin-top: 3rem;
	margin-bottom: 0.2rem;
}

#content {
	width: 100%;
	padding: 0;
	
	min-height: 100vh;
	transition: all 0.3s;
	position: absolute;
	top: 0;
	right: 0;
	margin: auto 0;
}



/* ---------------------------------------------------
CARDS
----------------------------------------------------- */

/* Main Card */
.card{
	margin: auto 0;
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto 0;
	margin-right: auto 0;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}


/* Examples Card */
#example-card .card{
	background-color: #dac3a4;
	border-color: #522727;
	font-size: 0.9rem;

}

#example-card .card-header{
	background-color: #522727;
	color: white;
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
}

/* Learning Goals Card */
#learning-goals-card{
	margin-left: 7vw;
	margin-right: 7vw;
	border-color: transparent;
	font-size: 0.9rem;

}
#learning-goals-card .card{
	background-color: lightgreen;
	border-color: seagreen;
}

#learning-goals-card .card-header{
	background-color: seagreen;
	color: white;
	border-top-left-radius: 0.8rem;
	border-top-right-radius: 0.8rem;
}

#contents-card .card{
	border-radius: 0rem;
}

#contents-card ul{
	padding: 0rem;
	margin: 0;
}

#contents-card ul a{
	color: #0275d8;
	display: block;
	
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.2rem;
	padding-top: 0.2rem;
}

#contents-card ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #003366;
}

#contents-card ul a:hover{
	color: #01447e;
	text-decoration: underline;
	background-color: red;
}



/* ---------------------------------------------------
BREADCRUMB
----------------------------------------------------- */

/* Style the list */
ul.breadcrumb {
	padding: 0.7rem;
	list-style: none;
	background-color: #ccc;
	border-top-left-radius: 0rem;
	border-top-right-radius: 0rem;
	border-bottom-left-radius: 1.2rem;
	border-bottom-right-radius: 1.2rem;
}

/* Display list items side by side */
ul.breadcrumb li {
	display: inline;
	font-size: 0.9rem;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
	padding: 5px;
	color: black;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
	color: #0275d8;
	text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
	color: #01447e;
	text-decoration: underline;
}



/* ---------------------------------------------------
IMAGE, MEDIA & ANIMATIONS
----------------------------------------------------- */

/* Figures */
.figure{
	padding: 0rem;
	width: auto;
	height: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.figure-img{
	width: auto;
	margin: 0 auto;
	padding: 1rem;
	padding-bottom: 0rem;
	background-color: lightgrey;
	
}

.figure-caption{
	background-color: lightgrey;
	padding: 1rem;
	color: #222;
	margin: auto 0;
	text-align: left;
	font-weight: bold;
}

/* Images Wrapped Around Text */
.image-wrapper figure{
	padding: 0;
	width: 35vw;
	height: auto;
	margin: auto 0;
}

#embedded-media{
	margin: auto 2rem;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

#jscode{
	padding: 0;
	background-color: black;
	margin: 0rem;
	height: 50vh;
	
	border-color: aqua;
}

#animation{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
}

.line {
	width: 100%;
	height: 1px;
	border-bottom: 1px dashed #ddd;
	margin: 40px 0;
}

.col{
	background: gray;
	padding: 0rem;
	text-align: center;
	justify-content: center;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.applet-container1{
	margin: 0rem;
	text-align: center;
	
}

.applet-container2{
	margin: 0rem;
	text-align: center;
	
}

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}
