/* ---------------------------------------------------
MAIN STUFF
----------------------------------------------------- */

.container {
	width: 95%;
	margin: 30px auto 0;
}

h2 {
	margin-top: 3rem;
	font-size: 2rem;
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
}